@model JobSearch.Models.ViewModels.CompanyJobViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="col-md-8" style="padding: 0"> Job Posts</h1>

<p>
    <a asp-controller="Job" asp-action="Create">Create a New Job Post</a>
</p>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Position
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Years of Experience
                    </th>
                    <th>
                        Emplyment Type
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        No. of Applicants
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Jobs)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.Position, "Details", "Job", new { id = item.JobId }, new { area = "" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearsOfExperience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmploymentTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicantCount)
                    </td>
                    
                        @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
            <div>

                    <div>
                        <h2>@Html.DisplayFor(modelItem => Model.Company.CompanyName)</h2>
                    </div>
                    <div>
                        <p>
                            <a asp-controller="Company" asp-action="Edit">Edit Company Info</a>
                        </p>
                    </div>

                    <div>
                        <h5>Location: </h5> @Html.DisplayFor(modelItem => Model.Company.Location.Name)
                    </div>

                    @if (Model.Company.AboutUs == null)
                    {
                        <h5>
                            About Us
                        </h5>
                        <div>
                            "Tell us about your Company here!"
                        </div>
                    }
                    else
                    {
                        <h5>
                            About Us
                        </h5>
                        <div>
                            @Html.DisplayFor(modelItem => Model.Company.AboutUs)
                        </div>
                    }
                
            </div>
    </div>
</div>