@using Microsoft.AspNetCore.Identity
@model JobSearch.Models.Applicant
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.ApplicationUser.FirstName) @Html.DisplayFor(model => model.ApplicationUser.LastName)</h1>

<div>
    <hr />
    <dl class="row">
        @if (!String.IsNullOrEmpty(Model.ImagePath))
        {
            <td>
                <img style="width: 150px; margin-left: 15px" src="~/images/@Model.ImagePath" alt="descriptive image" />
            </td>
        }
        else
        {
            <td>
                <img style="width: 150px; margin-left: 15px" src="~/images/Portrait_Placeholder.png" alt="descriptive image" />
            </td>

        }
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        @if (Model.ApplicationUser.LocationId == null)
        {
            <dt class="col-sm-2">
                Location:
            </dt>
            <dd class="col-sm-10">
                Add your location here!
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Location:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.ApplicationUser.Location.Name)
            </dd>
        }

        @if (Model.Email == null)
        {
            <dt class="col-sm-2">
                Email:
            </dt>
            <dd class="col-sm-10">
                <p>Add your email here!</p>
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Email:
            </dt>
            <dd class="col-sm-10">
                <a href="mailto:@Html.DisplayFor(modelItem => Model.Email)" class="contactText"> @Html.DisplayFor(modelItem => Model.Email)</a>
            </dd>
        }
        @if (Model.SocialLink == null)
        {

            <dt class="col-sm-2">
                Social Link
            </dt>

            <dd class="col-sm-10">
                No social link provided
            </dd>

        }
        else
        {

            <dt class="col-sm-2">
                Social Link
            </dt>

            <dd class="col-sm-10">
                <a href="http://@Html.DisplayFor(modelItem => Model.SocialLink)" class="contactText">@Html.DisplayFor(modelItem => Model.SocialLink)</a>
            </dd>

        }
        @if (Model.Education == null)
        {
            <dt class="col-sm-2">
                Education
            </dt>

            <dd class="col-sm-10">
                No education provided
            </dd>

        }
        else
        {
            <dt class="col-sm-2">
                Education
            </dt>
            <dd class="col-sm-10">

                @Html.DisplayFor(modelItem => Model.Education)
            </dd>

        }
        @if (Model.Experience == null)
        {
            <dt class="col-sm-2">
                Experience
            </dt>
            <dd class="col-sm-10">
                No experience provided
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Experience
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Experience)
            </dd>
        }
        @if (Model.SkillsAndCertifications == null)
        {
            <dt class="col-sm-2">
                Skills and Certifications
            </dt>

            <dd class="col-sm-10">
                No skills or certifications provided
            </dd>

        }
        else
        {
            <dt class="col-sm-2">
                Skills and Certifications
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.SkillsAndCertifications)
            </dd>
        }
        @if (Model.ResumePath == null)
        {
            <dt class="col-sm-2">
                Resume Link:
            </dt>

            <dd class="col-sm-10">
                No resume provided
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Resume Link:
            </dt>
            <dd class="col-sm-10">
                <a href="~/images/@Html.DisplayFor(modelItem => Model.ResumePath)"
                   target="_blank"
                   title="resume"
                   class="special">Resume</a>
            </dd>
        }
    </dl>
</div>
<div>
    @if (UserManager.GetUserAsync(User).Result.IsEmployer == true)
    {
        <a asp-controller="Employer" asp-action="Index" class="btn btn-secondary btn-sm text-dark">Back to List</a>
    }
    @if (UserManager.GetUserAsync(User).Result.IsEmployer == false)
    {
        <a asp-controller="Applicant" asp-action="Index" class="btn btn-secondary btn-sm text-dark">Back to List</a>
    }
</div>