@model JobSearch.Models.ViewModels.ApplicantJobViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Job Statuses</h1>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Job.Position)
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Job.Salary)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Jobs)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Position, "Details", "Job", new { id = item.Id }, new { area = "" })
                        </td>
                        <td>
                            @Html.ActionLink(item.Company.CompanyName, "Details", "Company", new { id = item.Id }, new { area = "" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                        <td>@*  *@
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <div>

            <div>
                <h2>
                    Hello World
                </h2>
                <h2>
                    @Html.DisplayFor(modelItem => Model.ApplicationUser.FirstName)
                </h2>
                <h2>
                    @Html.DisplayFor(modelItem => Model.ApplicationUser.LastName)
                </h2>
            </div>
            <div>
                <p>
                    <a asp-controller="Applicant" asp-action="Edit">Edit Personal Info</a>
                </p>
            </div>

            @*@if (Model.ApplicationUser.LocationId == null)
            {
                <div>
                    <h5>Location: </h5> <p>Add your location here!</p>
                </div>
            }
            else
            {
                <div>
                    <h5>Location: </h5> @Html.DisplayFor(modelItem => Model.ApplicationUser.Location.Name)
                </div>
            }*@

            @*@if (Model.ApplicationUser.Email == null)
            {
                <div>
                    "Add your email here!"
                </div>
            }
            else
            {
                <div>
                    @Html.DisplayFor(modelItem => Model.ApplicationUser.Email)
                </div>
            }*@

            @*@if (Model.Applicant.SocialLink == null)
            {
                <div>
                    "Add a social link here!"
                </div>
            }
            else
            {
                <div>
                    @Html.DisplayFor(modelItem => Model.Applicant.SocialLink)
                </div>
            }

            @if (Model.Applicant.Image == null)
            {
                <h5>Image</h5>
                <div>
                    "Add your Image here!""
                </div>
            }
            else
            {
                <h5>Image</h5>
                <div>
                    @Html.DisplayFor(modelItem => Model.Applicant.Image)
                </div>
            }

            @if (Model.Applicant.Education == null)
            {
                <h5>Education</h5>
                <div>
                    "Add your Education here!""
                </div>
            }
            else
            {
                <h5>Education</h5>
                <div>
                    @Html.DisplayFor(modelItem => Model.Applicant.Education)
                </div>
            }

            @if (Model.Applicant.Experience == null)
            {
                <h5>Experience</h5>
                <div>
                    "Add your Experience here!""
                </div>
            }
            else
            {
                <h5>Experience</h5>
                <div>
                    @Html.DisplayFor(modelItem => Model.Applicant.Experience)
                </div>
            }

            @if (Model.Applicant.SkillsAndCertifications == null)
            {
                <h5>Skills and Certifications</h5>
                <div>
                    "Add your Skills and Certifications here!""
                </div>
            }
            else
            {
                <h5>Skills and Certifications</h5>
                <div>
                    @Html.DisplayFor(modelItem => Model.Applicant.SkillsAndCertifications)
                </div>
            }

            @if (Model.Applicant.Resume == null)
            {
                <h5>Resume Link:</h5>
                <div>
                    "Add your Resume here!""
                </div>
            }
            else
            {
                <h5>Resume Link:</h5>
                <div>
                    @Html.DisplayFor(modelItem => Model.Applicant.Resume)
                </div>
            }*@
        </div>
    </div>
</div>