@model JobSearch.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Position)</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            Company Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            Years of Experience
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearsOfExperience)
        </dd>
        <dt class="col-sm-2">
            Employment Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmploymentType.Name)
        </dd>
    </dl>
    <form asp-controller="" asp-action="">
        <input type="hidden" />
        <input type="submit" value="Apply!" class="btn btn-success" />
    </form>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    <a asp-controller="Employer"
       asp-action="Index">Back to List</a>
</div>
