@model IEnumerable<JobSearch.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Job Search</h1>

<details>
    <summary>Filter</summary>
    <form asp-controller="Job" asp-action="Index">
        <p style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: row;  margin-bottom: 15px">
                By Job Title:&nbsp <input type="text" name="positionSearchString" class="form-control form-inline w-25" style="margin-right: 25px">
                By Company:&nbsp <input type="text" name="companySearchString" class="form-control form-inline w-25">
            </div>
            <div style="display: flex; flex-direction: row">
                By Category:&nbsp <input type="text" name="categorySearchString" class="form-control form-inline w-25" style="margin-right: 25px">
                By Location:&nbsp <input type="text" name="locationSearchString" class="form-control form-inline w-25">
            </div>
        </p>
        <input type="submit" value="Search"  style="margin-left: 70px; margin-bottom: 20px"/>
        <input type="button" value="Reset" onclick="location.href='/Job'" />
    </form>
</details>

<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    Company Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    Years of Experience
                </th>
                <th>
                    Emplyment Type
                </th>
                <th>
                    Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Position, "Details", "Job", new { id = item.Id }, new { area = "" })
                    </td>
                    <td>
                        @Html.ActionLink(item.Company.CompanyName, "Details", "Company", new { id = item.Company.Id }, new { area = "" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearsOfExperience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmploymentType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Label)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>